.charact__header {
    background-color: white;
    padding-top: 32px;
}

.charact__intro {
    font-weight: 400;
    font-size: 14px;
}

.charact__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.charact__item {
    background-color: @light-blue-color;
    width: 320px;
    color: #ffffff;
}

.charact__item {

    p {
        font-weight: 400;
    }
}

.charact__list--grey {
    background-color: @grey-color;
    list-style: none;
    width: 320px;
    padding-bottom: 24px;
    padding-top: 26px;
    margin: 0;
    padding: 0;
}

.charact__item--grey {
    margin-bottom: 50px;
}

.charact__item--grey {

    p { 
      font-weight: 400;
      color: @light-black-color;  
    }
}

