.contactinfo__title {
    padding-bottom: 17px;
}

.contactinfo__item {

    label {
        font-weight: 400;
        font-size: 14px;
    }
}

.contactinfo__item {

    input {
        background-color: @light-grey-color;
        width: 280px;
        height: 58px;
    }
}

.contactinfo__item {

    .placeholder {
        font-weight: 700px;
        font-size: 18px;
        color: @black-color;
    }
}