.contactinfo {
    width: 100%;
    max-width: 280px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 648px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 960px;
    }
}

.contactinfo__form {
    @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    @media (min-width: @desktop-width) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.contactinfo__title {
    padding-bottom: 17px;
}

.contactinfo__item {

    label {
        font-weight: 400;
        font-size: 14px;
    }
}

.contactinfo__item {

    input {
        background-color: @light-grey-color;
        width: 280px;
        height: 58px;
    }
}

.contactinfo__item {

    .placeholder {
        font-weight: 700px;
        font-size: 18px;
        color: @black-color;
    }
}