.failure-popup {
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    width: 100%;
    max-width: 237px;
    height: 280px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 307px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 307px;
    }
}

.failure-popup__wrapper {
    @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}

.failure-popup__warning {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
}

.failure-popup__button {
    background-color: @light-blue-color;
    width: 180px;
    height: 58px;
    margin-top: 22px;
    margin-bottom: 35px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}