.hotel-search {
    width: 100%;
    max-width: 280px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 458px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 458px;
    }
}

.hotel-search__wrapper {
    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
}

.hotel-search__description {
    color: @light-black-color;
    font-weight: 400;
}

.hotel-search__link {
    background-color: @light-blue-color;
    box-sizing: border-box;
}