.hotel-search {
    width: 100%;
    max-width: 280px;
    padding: 34px 0 49px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 458px;
    padding-bottom: 58px;
    padding-left: 155px;
    padding-right: 155px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 458px;
    padding-bottom: 66px;
    padding-left: 371px;
    padding-right: 371px;
    }
}

/*.hotel-search__wrapper {
    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }*/


.hotel-search__title {
    margin: 0 0 19px;
    font-size: 21px;

    @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    font-size: 30px;
    }
}

.hotel-search__description {
    color: @light-black-color;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 27px;

    @media (min-width: @tablet-width) {
        padding-bottom: 37px;
    }

    @media (min-width: @desktop-width) {
        padding-bottom: 42px;
    }
}

.hotel-search__link {
    display: block;
    background-color: @light-blue-color;
    box-sizing: border-box;
    padding: 16px;
    color: white;
    text-decoration: none;
    font-size: 21px;
    border: 2px solid @light-blue-color;

    &:hover {
        background-color: @dark-blue-color;
    }

    &:active {
        color: rgba(white, 0.3);
    }

    &:disabled {
        background-color: @grey-3-color;
    }
}