.impression {
    width: 100%;
    max-width: 289px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 303px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 272px;
    }
}

.impression__form {
    display: grid;
    grid-auto-flow: dense;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 12px;
    width: 289px;

    @media (min-width: @tablet-width) {
        grid-template-rows: 1fr 1fr;
        width: 303px;
        padding-left: 64px;
        padding-right:41px;
    }

    @media (min-width: @desktop-width) {
        padding-left: 128px;
        width: 350px;
        padding-left: 128px;
        padding-right: 216px;
    }
}

.impression__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.impression__item {
    text-transform: lowercase;
}


.impression__item label {
    text-transform: none;
}

.impression__item input {
    padding-bottom: 43px;

    @media (min-width: @tablet-width) {
        padding-bottom: 30px;
    }
}


.impression__fieldset legend {
    font-size: 18px;
    text-align: center;
    padding-bottom: 25px;


    @media (min-width: @tablet-width) {
        font-size: 21px;
        text-align: left;
        padding-bottom: 60px;
    }
}

.impression__fieldset {
    border: none;
}

.impression__imgline {
    @media (min-width: @tablet-width) {
        display: none;
    }
}

.impression__custom {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.impression__custom + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.impression__custom + label::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 5px solid @light-grey-color;
    margin-right: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: @light-grey-color;
    background-size: 50% 50%;
    border-radius: 50%;
}

.impression__custom:checked+label::before {
    background-image: url(../img/radio.svg);
}

.impression__custom+label:hover::before {
    background-color: @grey-3-color;
    border: 5px solid @grey-3-color;
}

.impression__custom+label:active::before {
    background-color: @grey-4-color;
    border: 5px solid @grey-4-color;
    color: rgba(@grey-4-color, 0.3);
}








