.impression__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.impression__item {
        text-transform: lowercase;
}

.impession__item {

    input {
        background-color: @light-grey-color;
        width: 48px;
        height: 48px;
    }
}