.infrastructure {
    width: 100%;
    max-width: 320px;
    padding-top: 35px;
    padding-bottom: 35px;
    outline: 3px solid rgba(135, 206, 250, 1);

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 768px;
    grid-column: 1 / -1;
    padding: 0;
    text-align: center;
    }

    @media (min-width: @desktop-width) {
    max-width: 1200px;
    }
}

/*.infrastructure__wrapper {
    outline: 3px solid rgba(102, 205, 170, 1);
    @media (min-width: @tablet-width) {
        margin-right: 31px;
        margin-left: 36px;
    }

    @media (min-width: @desktop-width) {
        margin-right: 78px;
        margin-left: 58px;
    }
}*/

.infrastructure__item--housing {
    @media (min-width: @tablet-width) {
        margin-left: 36px;
        padding-right: 73px;
    }

    @media (min-width: @desktop-width) {
        margin-left: 58px;
        padding-right: ;
        width: 282px;
    }
}

.infrastructure__item--food {
    @media (min-width: @tablet-width) {
        padding-right: 70px;
    }

    @media (min-width: @desktop-width) {
        padding-right: 121px;
    }
}

.infrastructure__item--souvenirs {
    @media (min-width: @tablet-width) {
        margin-right: 31px;
        order: 1;
    }

    @media (min-width: @desktop-width) {
        margin-right: 78px;
    }
}


.infrastructure__list {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;
    outline: 3px solid rgba(186, 85, 211, 1);

    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    }

    @media (max-width: @mobile-width-only) {
        row-gap: 26px;
        margin-left: 69px;
    }
}

.infrastructure__title {
    margin: 0 0 16px;
    position: relative;
    word-break: break-word;
    font-size: 18px;

    @media (min-width: @tablet-width) {
        font-size: 21px;
    }

    @media (min-width: @desktop-width) {
        margin: 0 0 22px;
        font-size: 21px;
    }

    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;

        @media (max-width: @mobile-width-only) {
            top: 50%;
            left: -52px;
            width: 46px;
            height: 50px;
            transform: translateY(-50%);
            background-position: left center;
        }

        @media (min-width: @tablet-width) {
            top: -126px;
            left: 50%;
            width: 100px;
            height: 100px;
            transform: translateX(-50%);
            background-position: center bottom;
        }
    }

    &--housing::before {
        background-image: url("../img/icon-house.svg.svg");

        @media (max-width: @mobile-width-only) {
            background-size: 39px auto;
        }
    }

    &--souvenirs::before {
        background-image: url("../img/icon-gift.svg.svg");

        @media (max-width: @mobile-width-only) {
            background-size: 32px auto;
        }
    }

    &--food::before {
        background-image: url("../img/icon-burger.svg.svg");

        @media (max-width: @mobile-width-only) {
            background-size: 40px auto;
        }
    }
}

.infrastructure__item {
    text-align: left;
    max-width: 288px;
    outline: 3px solid rgba(72, 209, 204, 1);


    @media (min-width: @tablet-width) {
        padding-top: 158px;
        padding-bottom: 60px;
        text-align: center;
        line-height: 26px;
        padding-right: 15px;
    }

    @media (min-width: @desktop-width) {
        padding-top: 159px;
        padding-bottom: 80px;
        text-align: center;
    }

    &--food {
        @media (min-width: @tablet-width) {
            grid-column: 2;
            grid-row: 1;
        }
    }
}

.infrastructure__description {
    font-weight: 400;
    margin: 0;
    font-size: 16px;

    @media (min-width: @desktop-width) {
        br {
            display: none;
        }
    }
}

.infrastructure__house {
    position: absolute;
    top: 1150px;
    left: 21px;
    right: 9px;
    width: 39px;
    height: 37px;

    @media (min-width: @tablet-width) {
    position: absolute;
    background-image: url("../img/icon-house\ tablet.svg.svg");
    top: 1110px;
    left: 105px;
    right: 180px;
    width: 75px;
    height: 72px;
    }

    @media (min-width: @desktop-width) {
        position: absolute;
        top: 1100px;
        left: 205px;
        width: 75px;
        height: 72px;
    }
}

.infrastructure__house use {
    @media (min-width: @tablet-width) {
        display: none;
    }
}

.infrastructure__souvenirs use {
    @media (min-width: @tablet-width) {
        display: none;
    }
}

.infrastructure__food use {
    @media (min-width: @tablet-width) {
        display: none;
    }
}

.infrastructure__souvenirs {
    position: absolute;
    top: 1295px;
    left: 25px;
    right: 13px;
    width: 32px;
    height: 38px;

    @media (min-width: @tablet-width) {
        position: absolute;
        background-image: url("../img/icon-gift\ tablet.svg.svg");
        top: 1110px;
        left: 586px;
        right: 97px;
        width: 64px;
        height: 75px;
        }

        @media (min-width: @desktop-width) {
            position: absolute;
            top: 1100px;
            left: 920px;
            right: 170px;
            width: 63px;
            height: 75px;
        }
}

.infrastructure__food {
    position: absolute;
    top: 1425px;
    left: 18px;
    right: 12px;
    width: 40px;
    height: 35px;

    @media (min-width: @tablet-width) {
        position: absolute;
        background-image: url("../img/icon-burger\ tablet.svg.svg");
        top: 1110px;
        left: 340px;
        right: 186px;
        width: 76px;
        height: 68px;
        }

        @media (min-width: @desktop-width) {
            position: absolute;
            top: 1100px;
            left: 560px;
            right: 330px;
            width: 76px;
            height: 69px;
        }
}






