.map {
    width: 100%;
    max-width: 320px;
    margin-bottom: 39px;
    display: block;
    min-height: 350px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 768px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 1200px;
    }
}