.page-header {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    height: 389px;
    background-image: url("../img/back-mobile.jpg.jpg");
    background-repeat: no-repeat;
    background-position: 100% 110px;

    @media (min-width: @tablet-width) {
        width: 90%;
        max-width: 768px;
        height: 518px;
        background-image: url("../img/back-tablet.jpg.jpg");
        background-repeat: no-repeat;
        background-position: 100% 55px;
}
        
        @media (min-width: @desktop-width) {
        width: 80%;
        max-width: 1200px;
        height: 518px;
        background-image: url("../img/back-desktop.jpg-2.jpg");
        background-repeat: no-repeat;
        background-position: 100% 55px;
        }
}

.page-header__logo {
    height: 84px;
    text-align: center;
    position: absolute;
    left: 28%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
}

.page-header__logo img {
    width: 102px;
    height: 84px;
    display: block;

    @media (min-width: @desktop-width) {
    width: 186px;
    height: 96px;
    }
}




.page-header__imgtext {
    width: 282px;
    height: 214px;
    display: block;
    margin: auto;

    @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
    }

    @media (min-width: @desktop-width) {
    width: 459px;
    height: 350px;
    }
}
