.page-footer {
    width: 100%;
    max-width: 320px;
    height: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin: 0;
    padding: 0;
    outline: 3px solid rgba(255, 105, 180);
    

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 768px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    outline: 3px solid rgba(255, 105, 180);
    }

    @media (min-width: @desktop-width) {
    max-width: 1200px;
    }
}

.page-footer__wrapper {
    display: flex;
    align-items: center;
    margin-top: 28px;
    outline: 3px solid rgba(0, 206, 209, 1 );

    @media (max-width:@mobile-width-only) {
    flex-direction: column;
    }

    @media (min-width: @tablet-width) {
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;
    width: 90%;
    max-width: 667px;
    margin-bottom: 36px;
    margin-left: 45px;
    margin-right: 60px;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin-right: 120px;
    margin-left: 104px;
    }
}

.page-footer__hastag {
    font-size: 21px;
    outline: 3px solid rgba(255, 127, 80);

    @media (min-width: @tablet-width) {
        margin: auto 0;
        margin-right: 97px;
    }
}

.social__list {
    list-style-type: none;
    margin: auto 0;
    width: 150px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    outline: 3px solid rgba(138, 43, 226);

    @media (max-width: @mobile-width-only) {
        margin-top: 33px;
        margin-bottom: 45px;
    }

    @media (min-width: @tablet-width) {
    margin-bottom: 45px;
    }

    @media (min-width: @desktop-width) {
    margin-left: 254px;
    margin-right: 261px;
    }
}

.page-footer__social {
    @media (min-width: @tablet-width) {
        height: 48px;
    }
}

.social__item {
    background-color: @light-blue-color;
    width: 46px;
    height: 48px;
}

.social__link {
    display: block;
    width: 46px;
    height: 48px;
    text-decoration: none;

    &:hover {
        background-color: @dark-blue-color;
    }

    &:active {
        background-color: @dark2-blue-color;
        color: rgba(white, 0.3);
    }
}

.copyright__text {
    font-weight: 400;
    font-size: 14px;
    padding-right: 10px;
    
    @media (min-width: @tablet-width) {
        margin: 0 auto;
        padding-right: 1px;
    }
}

.copyright__link-icon {
    fill: @black-color;

    &:hover {
        fill: @light-blue-color;
    }

    &:active {
        fill: @black-color;
        opacity: 0.3;
    }
}

.page-footer__copyright {
    display: flex;
    flex-direction: row;
    width: 148px;
    height: 35px;
    align-items: center;
    padding-left: 15px;
    outline: 3px solid rgba(64, 224, 208);

    @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    }
}

.social__link-icon-twitter {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 17px;

    &:active {
        opacity: 0.3;
    }
}


.social__link-icon-facebook {
    margin-top: 15px;
    margin-left: 19px;
    margin-right: 19px;

    &:active {
        opacity: 0.3;
    }
}

.social__link-icon-youtube {
    margin-top: 17px;
    margin-left: 13px;
    margin-right: 13px;

    &:active {
        opacity: 0.3;
    }
}

.social__link-icon-twitterform {
    position: absolute;

    &:active {
        opacity: 0.3;
    }
}

.social__link-icon-facebookform {
    position: absolute;

    &:active {
        opacity: 0.3;
    }
}

.social__link-icon-youtubeform {
    position: absolute;

    &:active {
        opacity: 0.3;
    }
}
