.photo-list {
    width: 100%;
    max-width: 280px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 648px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 1200px;
    }
}

.photo-list__list {
    max-width: 280px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 648px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 1200px;
    }
}

.photo-list__item {
    @media (min-width: @tablet-width) {
    background-color: @light-grey-color;
    padding: 17px 30px 15px 22px;
    }

    @media (min-width: @desktop-width) {

    }
}

.photo-list__title {
    font-size: 14px;
    line-height: 24px;
}

.photo-list__authorname {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: @light-black-color;
    text-transform: capitalize;
}

.photo-list__likes {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}

.photo-list__vast {
    @media (min-width: @tablet-width) {
        max-width: 648px;
        min-height: 400px;
    }
}

.photo-list__vegetation {
    margin-top: 22px;
}

.photo-list__road {
    margin-top: 23px;
}

.photo-list__bridge {
    margin-top: 23px;
}

