.post-review {
    width: 100%;
    max-width: 279px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 648px;
    padding-right: 60px;
    padding-left: 60px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 960px;
    }
}

.contactinfo__form {
    @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: center;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: center;
    }
}

.post-review__title {
    font-size: 18px;
    padding-bottom: 15px;
    align-items: center;

    @media (min-width: @tablet-width) {
        font-size: 21px;
        text-align: center;
        padding-bottom: 54px;
    }
}

.post-review__button {
    background-color: @light-blue-color;
    font-size: 21px;
    color: #ffffff;
    font-weight: 700;
    width: 280px;
    height: 58px;
    border: none;

    &:hover {
        background-color: @dark-blue-color;
    }

    &:active {
        background-color: @dark2-blue-color;
        color: rgba(white, 0.3);
    }

    @media (min-width: @tablet-width) {
        width: 324px;
    }

    @media (min-width: @desktop-width) {
        width: 480px;
    }
}

.post-review__fields {
    font-weight: 400;
    color: @light-black-color;
}

.post-review__bf {
    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    max-width: 648px;
    padding-top: 58px;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    }
}

.post-review__custom {
    background-color: @light-grey-color;
    box-sizing: border-box;
    width: 279px;
    height: 160px;
    border: none;

    @media (min-width: @tablet-width) {
        width: 648px;
        height: 160px;
    }

    @media (min-width: @desktop-width) {
        width: 960px;
        height: 160px;
    }
}

::-webkit-input-placeholder {
    color: @black-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}