.representation {
    width: 100%;
    max-width: 297px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 283px;
    }

    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 386px;
    }
}

.representation__form {
    @media (min-width: @tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (min-width: @desktop-width) {
        display: flex;
        justify-content: space-between;
    }
}

.representation__title {
    padding-bottom: 19px;
}


.representation__item {

    label {
        font-size: 14px;
        font-weight: 400;
        padding-right: 10px;
    }
}

.representation__item {

    input {
        color: @black-color;
        background-color: @light-grey-color;
        font-weight: 700;
        width: 230px;
        height: 58px;
    }
}