.representation__title {
    padding-bottom: 19px;
}


.representation__item {

    label {
        font-size: 14px;
        font-weight: 400;
        padding-right: 10px;
    }
}

.representation__item {

    input {
        color: @black-color;
        background-color: @light-grey-color;
        font-weight: 700;
        width: 230px;
        height: 58px;
    }
}