.site-list {

    @media (min-width: @tablet-width) { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 723px;
        flex-grow: 1;
        }

        @media (min-width: @desktop-width) {
        width: 954px;
        }
    }


.site-list a {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 40px;
    text-align: center;
    background-color: @light-blue-color;
    text-decoration: none;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);

    @media (min-width: @tablet-width) {
        padding: 0;
        padding-top: 16px;
        color: @black-color;
        background: none;
        border-top: none;
        box-shadow: none;
        text-decoration: none;
    }
}

.main-nav--nojs .site-list__item {
    display: block;
}


.site-list__item a[href] {
    
    @media (min-width: @tablet-width) {
        &:hover {
            color: @light-blue-color;
            background-color: white;
        }

        &:active {
            color: @black-color;
            opacity: 0.3;
        }
    }

    @media (max-width: @mobile-width-only) {
        &:hover {
            background-color: @dark-blue-color;
        }

        &:active {
            background-color: @dark2-blue-color;
            color: rgba(@white-color, @opacity-href-active);
        }
    }
}

.site-list__item a:not([href]) {
    @media (min-width: @tablet-width) {
        color: @brown-color;
    }
}

@media (min-width: @tablet-width) {
    .site-list {
      width: 594px;
    }
  }

  @media (min-width: @desktop-width) {
    .site-list {
      width: 940px;
    }
  }