.site-list a {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 40px;
    background-color: @light-blue-color;
    text-decoration: none;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.main-nav--nojs .site-list__item {
    display: block;
}


.site-list__item {
    width: 320px;
    text-align: center;
}

@media (min-width: @tablet-width) {
    .site-list {
        width: 594px;
    }
}

@media (min-width: @desktop-width) {
    .site-list {
        width: 854px;
    }
}