.success-popup {
    width: 320px;
    height: 323px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.success-popup__gratitude {
    font-weight: 400;
    font-size: 14px;
    color: @light-black-color;
    padding-top: 10px;
}

.success-popup__button {
    background-color: @light-blue-color;
    color: #ffffff;
    font-weight: 700;
    width: 280px;
    height: 58px;
    font-size: 18px;
    margin-top: 49px;
    margin-bottom: 20px;
}