.video {
    width: 100%;
    max-width: 320px;

    @media (min-width: @tablet-width) {
    width: 90%;
    max-width: 648px;
    }
    
    @media (min-width: @desktop-width) {
    width: 80%;
    max-width: 800px;
    }
}

.video__title {
    text-align: center;

    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    }
}

.video__description {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    }
    
    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    }
}