img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  src: url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap.woff2') format(woff2), url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap.woff') format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap.woff2') format(woff2), url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap.woff') format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.page {
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.page__body {
  margin: 0;
  min-height: 100%;
  color: #000000;
}
.page-header {
  width: 100%;
  max-width: 320px;
  /*display: flex;
    flex-direction: column;*/
  height: 445px;
  background-image: url("../img/back-mobile.jpg.jpg");
  background-repeat: no-repeat;
  background-position: 100% 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../img/back-mobile.jpg@2x.jpg");
    background-size: 320px auto;
  }
}
@media (min-width: 768px) {
  .page-header {
    width: 90%;
    max-width: 768px;
    height: 574px;
    background-image: url("../img/back-tablet.jpg.jpg");
    background-repeat: no-repeat;
    background-position: 100% 55px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../img/back-tablet.jpg@2x.jpg");
    background-size: 768px auto;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 80%;
    max-width: 1200px;
    height: 574px;
    background-image: url("../img/back-desktop.jpg-2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 55px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: url("../img/back-desktop.jpg@2x.jpg");
    background-size: 1200px auto;
  }
}
.page-header__logo {
  height: 84px;
  text-align: center;
  position: absolute;
  left: 28%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-header__logo {
    text-align: center;
    position: absolute;
    left: 43.36%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
  }
}
.page-header__logo img {
  width: 102px;
  height: 84px;
  display: block;
}
@media (min-width: 1200px) {
  .page-header__logo img {
    width: 186px;
    height: 96px;
  }
}
.page-header__imgtext {
  width: 282px;
  height: 214px;
  display: block;
  margin: auto;
  padding-top: 90px;
}
@media (min-width: 768px) {
  .page-header__imgtext {
    width: 461px;
    height: 350px;
    padding-top: 77px;
  }
}
@media (min-width: 1200px) {
  .page-header__imgtext {
    width: 459px;
    height: 350px;
    padding-top: 78px;
  }
}
.main-nav {
  position: relative;
  background-color: white;
  line-height: 40px;
  font-size: 18px;
  width: 100%;
  max-width: 320px;
  min-height: 56px;
}
@media (min-width: 768px) {
  .main-nav {
    width: 90%;
    max-width: 723px;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 80%;
    max-width: 1098px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .main-nav {
    flex-direction: column;
  }
}
.main-nav__toggle {
  position: absolute;
  top: 0.5%;
  right: 6.28%;
  margin-top: 17px;
  background-color: transparent;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  box-shadow: 0 8px 0 0 #81B3D2, 0 16px 0 0 #81B3D2;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.5);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.5), 0 16px 0 0 rgba(129, 179, 210, 0.5);
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.3), 0 16px 0 0 rgba(129, 179, 210, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  right: 20px;
  margin-bottom: 17px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: white;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    width: 723px;
    /*margin-left: 34px;
    margin-right: 11px;*/
    display: flex;
    flex-wrap: wrap;
    min-height: px;
    margin-top: 16px;
    order: 1;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    width: 934px;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }
}
.main-nav__list a {
  color: white;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    max-width: 723px;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 80%;
    width: 940px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 723px;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 954px;
  }
}
.site-list a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 40px;
  text-align: center;
  background-color: #81B3D2;
  text-decoration: none;
  border-top: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .site-list a {
    padding: 0;
    color: #000000;
    background: none;
    border: none;
  }
}
.main-nav--nojs .site-list__item {
  display: block;
}
@media (min-width: 768px) {
  .site-list__item {
    padding-right: 33px;
  }
  .site-list__item:last-child {
    padding-right: 0;
  }
}
.site-list__item:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .site-list__item a[href]:hover {
    color: #81B3D2;
    background-color: white;
  }
  .site-list__item a[href]:active {
    color: #000000;
    opacity: 0.3;
  }
}
@media (max-width: 767px) {
  .site-list__item a[href]:hover {
    background-color: #669EC0;
  }
  .site-list__item a[href]:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .site-list__item a:not([href]) {
    color: #766357;
  }
}
.charact {
  width: 100%;
  max-width: 320px;
}
@media (min-width: 768px) {
  .charact {
    width: 90%;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .charact {
    width: 80%;
    max-width: 1200px;
  }
}
.charact__header {
  background-color: white;
  padding-top: 32px;
  padding-bottom: 11px;
  padding-right: 17px;
  padding-left: 18px;
  margin: 0 auto 11px;
  max-width: 280px;
}
@media (min-width: 768px) {
  .charact__header {
    width: 90%;
    max-width: 520px;
    padding-top: 43px;
    padding-bottom: 52px;
    padding-right: 124px;
    padding-left: 124px;
  }
}
@media (min-width: 1200px) {
  .charact__header {
    width: 80%;
    max-width: 483px;
    margin-bottom: 41px;
    padding-top: 55px;
    padding-bottom: 41px;
    padding-right: 358px;
    padding-left: 359px;
  }
}
.charact__slogan {
  margin: 0 0 31px;
  text-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .charact__slogan {
    display: flex;
    justify-content: center;
    font-size: 21px;
  }
  .charact__slogan br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .charact__slogan {
    display: flex;
    justify-content: center;
    font-size: 21px;
  }
  .charact__slogan br {
    display: none;
  }
}
.charact__intro {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .charact__intro {
    display: flex;
    justify-content: center;
  }
  .charact__intro br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .charact__intro {
    display: flex;
    justify-content: center;
  }
  .charact__intro br {
    display: none;
  }
}
.charact__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 320px;
}
@media (min-width: 768px) {
  .charact__list {
    display: grid;
    grid-template-columns: 3fr 4fr;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .charact__list {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 1200px;
  }
}
.charact__list--right {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .charact__list--right {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}
@media (min-width: 1200px) {
  .charact__list--right {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}
.charact__item {
  background-color: #81B3D2;
  color: #ffffff;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 39px;
  padding-left: 18px;
  padding-right: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .charact__item {
    padding-top: 40px;
    padding-bottom: 44px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .charact__item {
    padding-top: 47px;
    padding-bottom: 57px;
    padding-left: 53px;
    padding-right: 52px;
  }
}
.charact__item--right {
  padding-top: 39px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .charact__item--right {
    padding: 43px 36px 41px 36px;
  }
}
@media (min-width: 1200px) {
  .charact__item--right {
    padding: 51px 78px 53px 79px;
  }
}
.charact__item h3 {
  margin: 0;
}
@media (min-width: 768px) {
  .charact__item h3 {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .charact__item h3 {
    font-size: 21px;
  }
}
.charact__item--right {
  order: 2;
}
.charact__imgbridge {
  order: 1;
  width: 100%;
  display: block;
  min-height: 260px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .charact__imgbridge {
    height: 256px;
  }
}
.charact__item p {
  font-weight: 400;
}
.charact__list--grey {
  background-color: #EEEEEE;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .charact__list--grey {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .charact__list--grey {
    display: flex;
    justify-content: space-between;
  }
}
.charact__item--grey h3 {
  margin: 0;
  font-size: 18px;
}
@media (min-width: 768px) {
  .charact__item--grey h3 {
    font-size: 21px;
  }
}
.charact__item--grey {
  max-width: 276px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 25px;
}
.charact__item--grey p {
  font-weight: 400;
  color: #333333;
  font-size: 18px;
}
@media (min-width: 768px) {
  .charact__item--grey {
    padding-left: 33px;
    padding-right: 40px;
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .charact__item--grey {
    padding-left: 42px;
    padding-right: 55px;
    padding-top: 42px;
    padding-bottom: 62px;
  }
}
@media (min-width: 768px) {
  .charact__imgline {
    display: none;
  }
}
.charact__imgcity {
  width: 100%;
  display: block;
  height: 260px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .charact__imgcity {
    height: 256px;
  }
}
.infrastructure {
  width: 100%;
  max-width: 288px;
  padding-top: 35px;
  padding-left: 69px;
}
@media (min-width: 768px) {
  .infrastructure {
    width: 90%;
    max-width: 768px;
    grid-column: 1 / -1;
    padding: 0;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .infrastructure {
    width: 80%;
    max-width: 1200px;
  }
}
@media (min-width: 768px) {
  .infrastructure__wrapper {
    padding-right: 36px;
    padding-left: 31px;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .infrastructure__wrapper {
    max-width: 1200px;
  }
}
.infrastructure__list {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .infrastructure__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .infrastructure__list {
    row-gap: 26px;
  }
}
.infrastructure__title {
  margin: 0 0 16px;
  position: relative;
  word-break: break-word;
  font-size: 18px;
}
@media (min-width: 768px) {
  .infrastructure__title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .infrastructure__title {
    margin: 0 0 22px;
    font-size: 21px;
  }
}
.infrastructure__title::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .infrastructure__title::before {
    top: 50%;
    left: -52px;
    width: 46px;
    height: 50px;
    transform: translateY(-50%);
    background-position: left center;
  }
}
@media (min-width: 768px) {
  .infrastructure__title::before {
    top: -126px;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
    background-position: center bottom;
  }
}
.infrastructure__title--housing::before {
  background-image: url("../img/icon-house.svg.svg");
}
@media (max-width: 767px) {
  .infrastructure__title--housing::before {
    background-size: 39px auto;
  }
}
.infrastructure__title--souvenirs::before {
  background-image: url("../img/icon-gift.svg.svg");
}
@media (max-width: 767px) {
  .infrastructure__title--souvenirs::before {
    background-size: 32px auto;
  }
}
.infrastructure__title--food::before {
  background-image: url("../img/icon-burger.svg.svg");
}
@media (max-width: 767px) {
  .infrastructure__title--food::before {
    background-size: 40px auto;
  }
}
.infrastructure__item {
  text-align: left;
  max-width: 288px;
}
@media (min-width: 768px) {
  .infrastructure__item {
    padding: 158px 38px 60px;
    text-align: center;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .infrastructure__item {
    padding-top: 159px;
    padding-bottom: 80px;
    padding-right: 104px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .infrastructure__item--food {
    grid-column: 2;
    grid-row: 1;
  }
}
.infrastructure__description {
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .infrastructure__description {
    font-size: 18px;
  }
}
.infrastructure__house {
  position: absolute;
  top: 1200px;
  left: 21px;
  right: 9px;
  width: 39px;
  height: 37px;
}
@media (min-width: 768px) {
  .infrastructure__house {
    position: absolute;
    top: 1110px;
    left: 90px;
    right: 180px;
    width: 75px;
    height: 72px;
  }
}
@media (min-width: 1200px) {
  .infrastructure__house {
    position: absolute;
    top: 1140px;
    left: 140px;
    right: 325px;
    width: 75px;
    height: 72px;
  }
}
.infrastructure__souvenirs {
  position: absolute;
  top: 1346px;
  left: 25px;
  right: 13px;
  width: 32px;
  height: 38px;
}
@media (min-width: 768px) {
  .infrastructure__souvenirs {
    position: absolute;
    top: 1110px;
    left: 586px;
    right: 97px;
    width: 64px;
    height: 75px;
  }
}
@media (min-width: 1200px) {
  .infrastructure__souvenirs {
    position: absolute;
    top: 1140px;
    left: 870px;
    right: 170px;
    width: 63px;
    height: 75px;
  }
}
.infrastructure__food {
  position: absolute;
  top: 1470px;
  left: 18px;
  right: 12px;
  width: 40px;
  height: 35px;
}
@media (min-width: 768px) {
  .infrastructure__food {
    position: absolute;
    top: 1110px;
    left: 340px;
    right: 186px;
    width: 76px;
    height: 68px;
  }
}
@media (min-width: 1200px) {
  .infrastructure__food {
    position: absolute;
    top: 1148px;
    left: 500px;
    right: 330px;
    width: 76px;
    height: 69px;
  }
}
.hotel-search {
  width: 100%;
  max-width: 280px;
  padding: 34px 0 49px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
@media (min-width: 768px) {
  .hotel-search {
    width: 90%;
    max-width: 458px;
    padding-bottom: 58px;
    padding-left: 155px;
    padding-right: 155px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    width: 80%;
    max-width: 458px;
    padding-bottom: 66px;
    padding-left: 371px;
    padding-right: 371px;
  }
}
/*.hotel-search__wrapper {
    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }*/
.hotel-search__title {
  margin: 0 0 19px;
  font-size: 21px;
}
@media (min-width: 768px) {
  .hotel-search__title {
    margin-bottom: 32px;
    font-size: 30px;
  }
}
.hotel-search__description {
  color: #333333;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .hotel-search__description {
    padding-bottom: 37px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__description {
    padding-bottom: 42px;
  }
}
.hotel-search__link {
  display: block;
  background-color: #81B3D2;
  box-sizing: border-box;
  padding: 16px;
  color: white;
  text-decoration: none;
  font-size: 21px;
  border: 2px solid #81B3D2;
}
.hotel-search__link:hover {
  background-color: #669EC0;
}
.hotel-search__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.hotel-search__link--disabled {
  background-color: #E5E5E5;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
.map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 350px;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .map iframe {
    width: 90%;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .map iframe {
    width: 80%;
    max-width: 1200px;
  }
}
.map-marker {
  position: absolute;
  top: 3235px;
  left: 275px;
  right: 147px;
  z-index: 1;
  width: 27px;
  height: 27px;
}
@media (min-width: 768px) {
  .map-marker {
    position: absolute;
    top: 2515px;
    left: 375px;
    right: 147px;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .map-marker {
    position: absolute;
    top: 2465px;
    left: 565px;
    right: 147px;
    z-index: 1;
  }
}
.page-footer {
  width: 100%;
  max-width: 280px;
  height: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .page-footer {
    width: 90%;
    max-width: 768px;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 80%;
    max-width: 980px;
  }
}
.page-footer__wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .page-footer__wrapper {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;
    padding: 36px 0;
    width: 90%;
    max-width: 667px;
    padding-right: 45px;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 980px;
    padding-right: 104px;
    padding-left: 120px;
  }
}
.page-footer__hastag {
  font-size: 21px;
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .page-footer__hastag {
    margin: auto 0;
    margin-right: 97px;
  }
}
@media (min-width: 1200px) {
  .page-footer__hastag {
    margin-left: 0;
    margin-right: 254px;
  }
}
.social__list {
  list-style-type: none;
  margin: auto 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 767px) {
  .social__list {
    margin-top: 12px;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .social__list {
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .social__list {
    margin-left: 254px;
    margin-right: 261px;
  }
}
.social__item {
  background-color: #81B3D2;
  width: 47px;
  height: 48px;
  margin-right: 6px;
}
.social__link {
  display: block;
  width: 47px;
  height: 48px;
  text-decoration: none;
}
.social__link:hover {
  background-color: #669EC0;
}
.social__link:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.copyright__text {
  font-weight: 400;
  font-size: 14px;
  padding-right: 10px;
}
.copyright__link {
  fill: #000000;
}
.copyright__link:hover {
  fill: #81B3D2;
}
.copyright__link:active {
  fill: #000000;
  opacity: 0.3;
}
.page-footer__copyright {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .page-footer__copyright {
    display: flex;
    flex-direction: row;
  }
}
.social__link-icon-twitter {
  position: absolute;
  top: 3538px;
  left: 78px;
  right: 14px;
  background-color: #000000;
}
.social__link-icon-twitter:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social__link-icon-twitter {
    position: absolute;
    top: 2850px;
    left: 280px;
    right: 14px;
  }
}
@media (min-width: 1200px) {
  .social__link-icon-twitter {
    position: absolute;
    top: 2798px;
    left: 524px;
    right: 14px;
  }
}
.social__link-icon-facebook {
  position: absolute;
  top: 3535px;
  left: 132px;
  right: 14px;
  background-color: #000000;
}
.social__link-icon-facebook:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social__link-icon-facebook {
    position: absolute;
    top: 2847px;
    left: 335px;
    right: 14px;
  }
}
@media (min-width: 1200px) {
  .social__link-icon-facebook {
    position: absolute;
    top: 2795px;
    left: 580px;
    right: 14px;
  }
}
.social__link-icon-youtube {
  position: absolute;
  top: 3538px;
  left: 178px;
  right: 14px;
  background-color: #000000;
}
.social__link-icon-youtube:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social__link-icon-youtube {
    position: absolute;
    top: 2850px;
    left: 385px;
    right: 14px;
  }
}
@media (min-width: 1200px) {
  .social__link-icon-youtube {
    position: absolute;
    top: 2799px;
    left: 628px;
    right: 14px;
  }
}
.review {
  width: 100%;
  max-width: 306px;
  padding-bottom: 16px;
  padding-top: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .review {
    width: 90%;
    max-width: 434px;
    padding: 64px 0 63px;
    padding-left: 166px;
    padding-right: 168px;
  }
}
@media (min-width: 1200px) {
  .review {
    width: 80%;
    max-width: 434px;
    padding: 114px 0 59px;
    padding-left: 382px;
    padding-right: 384px;
  }
}
.review__title {
  margin: 0 0;
  text-align: center;
  font-size: 21px;
}
@media (min-width: 768px) {
  .review__title {
    font-size: 30px;
    justify-content: column;
    flex-direction: center;
  }
}
@media (min-width: 1200px) {
  .review__title {
    font-size: 30px;
    justify-content: column;
    flex-direction: center;
  }
}
.review__description {
  font-weight: 400;
  padding-top: 38px;
  margin: 0;
  font-size: 18px;
}
@media (min-width: 768px) {
  .review__description {
    justify-content: column;
    flex-direction: center;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .review__description {
    justify-content: column;
    flex-direction: center;
  }
}
@media (min-width: 768px) {
  .review__imgline {
    display: none;
  }
}
.representation {
  width: 100%;
  max-width: 297px;
}
@media (min-width: 768px) {
  .representation {
    width: 90%;
    max-width: 283px;
    background-image: url("../img/Layer\ 105.svg");
    background-repeat: no-repeat;
    background-position: 30px 50px;
    width: 1px;
  }
}
@media (min-width: 1200px) {
  .representation {
    width: 80%;
    max-width: 386px;
  }
}
.representation__form {
  display: grid;
  grid-auto-flow: dense;
  margin: 0 auto;
  line-height: 26px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .representation__form {
    grid-template-rows: 1fr 1fr;
    padding-left: 58px;
    width: 282px;
  }
}
@media (min-width: 1200px) {
  .representation__form {
    padding-left: 79px;
    width: 400px;
  }
}
.representation__title {
  padding-bottom: 19px;
  text-align: center;
  font-size: 18px;
}
@media (min-width: 768px) {
  .representation__title {
    padding-bottom: 54px;
    font-size: 21px;
  }
}
.representation__item label {
  font-size: 14px;
  font-weight: 400;
  padding-right: 10px;
}
.representation__item input {
  color: #000000;
  background-color: #F2F2F2;
  font-weight: 700;
  width: 230px;
  height: 58px;
}
.representation__item input:hover {
  background-color: #E5E5E5;
}
.representation__item input:active {
  background-color: white;
  box-sizing: border-box;
  border: 4px solid #E5E5E5;
}
@media (min-width: 768px) {
  .representation__imgline {
    display: none;
  }
}
.contactinfo {
  width: 100%;
  max-width: 280px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .contactinfo {
    width: 90%;
    max-width: 648px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .contactinfo {
    width: 80%;
    max-width: 960px;
    padding-left: 119px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) {
  .contactinfo__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .contactinfo__form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.contactinfo__title {
  padding-bottom: 17px;
  padding-top: 40px;
  font-size: 18px;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .contactinfo__title {
    font-size: 21px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .contactinfo__title {
    padding-bottom: 71px;
    text-align: center;
  }
}
.contactinfo__item label {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 8px;
}
.contactinfo__item input {
  background-color: #F2F2F2;
  width: 280px;
  height: 58px;
}
@media (min-width: 768px) {
  .contactinfo__item input {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .contactinfo__item input {
    width: 315px;
  }
}
.contactinfo__item input:hover {
  background-color: #E5E5E5;
}
.contactinfo__item input:active {
  background-color: white;
  box-sizing: border-box;
  border: 4px solid #E5E5E5;
}
.contactinfo__item .placeholder {
  font-weight: 700px;
  font-size: 18px;
  color: #000000;
}
.contactinfo__item {
  margin-right: 79px;
  padding-bottom: 28px;
}
@media (min-width: 1200px) {
  .contactinfo__item {
    display: flex;
    flex-direction: center;
    padding-bottom: 51px;
  }
}
@media (min-width: 768px) {
  .contactinfo__imgline {
    display: none;
  }
}
.impression {
  width: 100%;
  max-width: 289px;
}
@media (min-width: 768px) {
  .impression {
    width: 90%;
    max-width: 303px;
  }
}
@media (min-width: 1200px) {
  .impression {
    width: 80%;
    max-width: 272px;
  }
}
.impression__form {
  display: grid;
  grid-auto-flow: dense;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 12px;
  width: 289px;
}
@media (min-width: 768px) {
  .impression__form {
    grid-template-rows: 1fr 1fr;
    width: 303px;
    padding-left: 64px;
    padding-right: 41px;
  }
}
@media (min-width: 1200px) {
  .impression__form {
    width: 350px;
    padding-left: 128px;
    padding-right: 216px;
  }
}
.impression__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.impression__item {
  text-transform: lowercase;
}
.impression__item label {
  text-transform: none;
}
.impression__item input {
  padding-bottom: 43px;
}
@media (min-width: 768px) {
  .impression__item input {
    padding-bottom: 30px;
  }
}
.impression__fieldset legend {
  font-size: 18px;
  text-align: center;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .impression__fieldset legend {
    font-size: 21px;
    text-align: left;
    padding-bottom: 60px;
  }
}
.impression__fieldset {
  border: none;
}
@media (min-width: 768px) {
  .impression__imgline {
    display: none;
  }
}
.impression__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.impression__custom + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}
.impression__custom + label::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 5px solid #F2F2F2;
  margin-right: 26px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #F2F2F2;
  background-size: 50% 50%;
  border-radius: 50%;
}
.impression__custom:checked + label::before {
  background-image: url(../img/radio.svg);
}
.impression__custom + label:hover::before {
  background-color: #E5E5E5;
  border: 5px solid #E5E5E5;
}
.impression__custom + label:active::before {
  background-color: #D5D5D5;
  border: 5px solid #D5D5D5;
  color: rgba(213, 213, 213, 0.3);
}
.attractions {
  width: 100%;
  max-width: 268px;
}
@media (min-width: 768px) {
  .attractions {
    width: 90%;
    max-width: 473px;
    padding-right: 160px;
    padding-left: 135px;
  }
}
@media (min-width: 1200px) {
  .attractions {
    width: 80%;
    max-width: 960px;
    padding-right: 125px;
    padding-left: 94px;
  }
}
.attractions__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .attractions__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .attractions__list {
    display: flex;
    justify-content: space-between;
  }
}
.attractions__item label {
  text-transform: none;
}
.attractions__item input {
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .attractions__item input {
    padding-bottom: 42px;
  }
}
.attractions__fieldset {
  border: none;
}
.attractions__fieldset legend {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .attractions__fieldset legend {
    padding-top: 51px;
    font-size: 21px;
    padding-bottom: 48px;
  }
}
.attractions__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.attractions__custom + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}
.attractions__custom + label::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 5px solid #F2F2F2;
  margin-right: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #F2F2F2;
  background-size: 50% 50%;
}
.attractions__custom:checked + label::before {
  background-image: url("../img/tick.svg.svg");
}
.attractions__custom + label:hover::before {
  background-color: #E5E5E5;
  border: 5px solid #E5E5E5;
}
.attractions__custom + label:active::before {
  background-color: #D5D5D5;
  border: 5px solid #D5D5D5;
  color: rgba(51, 51, 51, 0.3);
}
.failure-popup {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 100%;
  max-width: 320px;
  height: 280px;
}
@media (min-width: 768px) {
  .failure-popup {
    width: 90%;
    max-width: 307px;
    height: 347px;
    padding-left: 46px;
    padding-right: 47px;
  }
}
@media (min-width: 1200px) {
  .failure-popup {
    width: 80%;
    max-width: 307px;
    height: 347px;
  }
}
.failure-popup__wrapper {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .failure-popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 49px;
  }
}
@media (min-width: 1200px) {
  .failure-popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.failure-popup__title {
  text-align: center;
  font-size: 21px;
}
@media (min-width: 768px) {
  .failure-popup__title {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
  }
}
.failure-popup__warning {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 22px;
  text-align: center;
}
@media (min-width: 768px) {
  .failure-popup__warning {
    padding-bottom: 27px;
  }
}
.failure-popup__button {
  background-color: #81B3D2;
  width: 180px;
  height: 58px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  border: none;
  text-align: center;
}
@media (min-width: 768px) {
  .failure-popup__button {
    width: 272px;
    text-align: center;
  }
}
.failure-popup__button:hover {
  background-color: #669EC0;
}
.failure-popup__button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.post-review {
  width: 100%;
  max-width: 279px;
}
@media (min-width: 768px) {
  .post-review {
    width: 90%;
    max-width: 648px;
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .post-review {
    width: 80%;
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .contactinfo__form {
    display: flex;
    flex-direction: center;
  }
}
@media (min-width: 1200px) {
  .contactinfo__form {
    display: flex;
    flex-direction: center;
  }
}
.post-review__title {
  font-size: 18px;
  padding-bottom: 15px;
  align-items: center;
}
@media (min-width: 768px) {
  .post-review__title {
    font-size: 21px;
    text-align: center;
    padding-bottom: 54px;
  }
}
.post-review__button {
  background-color: #81B3D2;
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  width: 280px;
  height: 58px;
  border: none;
}
.post-review__button:hover {
  background-color: #669EC0;
}
.post-review__button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .post-review__button {
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .post-review__button {
    width: 480px;
  }
}
.post-review__fields {
  font-weight: 400;
  color: #333333;
}
@media (min-width: 768px) {
  .post-review__bf {
    display: flex;
    justify-content: space-between;
    max-width: 648px;
    padding-top: 58px;
  }
}
@media (min-width: 1200px) {
  .post-review__bf {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
  }
}
.post-review__custom {
  background-color: #F2F2F2;
  box-sizing: border-box;
  width: 279px;
  height: 160px;
  border: none;
}
@media (min-width: 768px) {
  .post-review__custom {
    width: 648px;
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .post-review__custom {
    width: 960px;
    height: 160px;
  }
}
::-webkit-input-placeholder {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.success-popup {
  width: 100%;
  max-width: 280px;
  height: 323px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
@media (min-width: 768px) {
  .success-popup {
    width: 90%;
    max-width: 640px;
    height: 347px;
  }
}
@media (min-width: 1200px) {
  .success-popup {
    width: 80%;
    max-width: 640px;
    height: 347px;
  }
}
@media (min-width: 768px) {
  .success-popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .success-popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.success-popup__gratitude {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 29px;
}
.success-popup__button {
  background-color: #81B3D2;
  color: #ffffff;
  font-weight: 700;
  width: 280px;
  height: 58px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
}
@media (min-width: 768px) {
  .success-popup__button {
    width: 458px;
  }
}
.success-popup__button:hover {
  background-color: #669EC0;
}
.success-popup__button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.success-popup__title {
  font-size: 18px;
  padding-top: 38px;
  text-align: center;
}
@media (min-width: 768px) {
  .success-popup__title {
    font-size: 30px;
    padding-top: 55px;
  }
}
.photo {
  width: 100%;
  width: 299px;
}
@media (min-width: 768px) {
  .photo {
    width: 90%;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .photo {
    max-width: 1200px;
  }
}
.photo__wrapper {
  text-align: center;
  padding-left: 12px;
  padding-right: 9px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .photo__wrapper {
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 65px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .photo__wrapper {
    padding-left: 370px;
    padding-right: 372px;
    padding-bottom: 67px;
    text-align: center;
  }
}
.photo__title {
  text-align: center;
  margin: 0 0 32px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
@media (min-width: 768px) {
  .photo__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 65px;
  }
}
@media (min-width: 1200px) {
  .photo__title {
    display: flex;
    justify-content: center;
    padding-top: 102px;
  }
}
.photo__description {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .photo__description {
    display: flex;
    flex-direction: center;
    font-size: 18px;
    text-align: center;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .photo__description {
    display: flex;
    flex-direction: center;
  }
}
@media (min-width: 768px) {
  .photo__imgline {
    display: none;
  }
}
@media (max-width: 767px) {
  .photo-list__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .photo-list__wrapper {
    padding-left: 60px;
    padding-right: 60px;
    align-items: left;
  }
}
@media (min-width: 1200px) {
  .photo-list__wrapper {
    padding: 0;
    margin: 0;
  }
}
.photo-list__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 280px;
  width: 100%;
}
@media (min-width: 768px) {
  .photo-list__list {
    width: 90%;
    max-width: 648px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .photo-list__list {
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.photo-list__item {
  background-image: url("../img/like-icon.svg.svg");
  background-repeat: no-repeat;
  background-position: 5% 75%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .photo-list__item {
    background-color: #F2F2F2;
  }
}
@media (min-width: 768px) {
  .photo-list__item--big {
    grid-column: 1 / -1;
    background-color: #F2F2F2;
  }
}
.photo-list__title {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.photo-list__authorname {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 13px;
  color: #333333;
  text-transform: none;
}
.photo-list__likes {
  font-size: 14px;
  line-height: 24px;
  display: flex;
  column-gap: 14px;
}
@media (min-width: 768px) {
  .photo-list__likes {
    align-self: center;
    justify-self: end;
    grid-column: 2;
    grid-row: 1 / -1;
  }
}
.photo-list__img {
  display: block;
  width: 100%;
  min-height: 280px;
  max-height: 400px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .photo-list__img {
    height: 267px;
  }
}
@media (min-width: 768px) {
  .photo-list__img .photo-list__item--big {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .photo-list__imgline {
    display: none;
  }
}
.photo-list__item--big {
  background-image: url("../img/like-icon.svg.svg");
  background-repeat: no-repeat;
  background-position: 5% 75%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .photo-list__desc {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    padding: 17px 30px 15px 22px;
  }
}
@media (min-width: 1200px) {
  .photo-list__desc {
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.video {
  max-width: 320px;
  margin: 0 auto;
  padding: 34px 0 49px;
}
@media (min-width: 768px) {
  .video {
    width: 90%;
    max-width: 648px;
    padding: 56px 0 43px;
  }
}
@media (min-width: 1200px) {
  .video {
    padding: 60px 0 85px;
  }
}
.video__wrapper {
  width: 100%;
  max-width: 520px;
  margin: 0 auto 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .video__wrapper {
    margin-bottom: 79px;
  }
}
@media (min-width: 1200px) {
  .video__wrapper {
    margin-bottom: 80px;
  }
}
.video__title {
  margin: 0 0 28px;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 30px;
    margin-bottom: 33px;
  }
}
.video__description {
  margin: 0;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
}
/*.video__title {
    text-align: center;
    font-size: 18px;

    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: 26px;
    }

    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    }
}

.video__description {
    text-align: center;
    font-weight: 400;
    font-size: 14px;


    @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: @light-black-color;
    }
    
    @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    }
}*/
.controls-video__wrapper {
  width: 100%;
  position: relative;
}
.controls-video__img {
  display: block;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .controls-video__img {
    height: 500px;
  }
}
.controls-video {
  margin: 0 auto;
}
input[type=range] {
  width: 100%;
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  cursor: pointer;
  background-color: #ffffff;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 235px;
  height: 3px;
  cursor: pointer;
  background: #ffffff;
  opacity: 0.2;
}
.control-panel__volume {
  width: 280px;
  height: 45px;
  background: #000000;
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */
