img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  src: url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap.woff2') format(woff2), url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap.woff') format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap.woff2') format(woff2), url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap.woff') format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.page {
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.page__body {
  margin: 0;
  min-height: 100%;
  color: #000000;
}
.page-header {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/back-mobile.jpg.jpg");
  background-repeat: no-repeat;
  background-position: 80% 110px;
}
@media (min-width: 768px) {
  .page-header {
    width: 90%;
    max-width: 768px;
    height: 518px;
    background-image: url("../img/back-tablet.jpg.jpg");
    background-repeat: no-repeat;
    background-position: 100% 55px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 80%;
    max-width: 1200px;
    height: 518px;
    background-image: url("../img/back-desktop.jpg-2.jpg");
    background-repeat: no-repeat;
    background-position: 100% 55px;
  }
}
.page-header__logo {
  height: 84px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  z-index: 1;
}
.page-header__logo img {
  width: 102px;
  height: 84px;
  display: block;
}
@media (min-width: 1200px) {
  .page-header__logo img {
    width: 186px;
    height: 96px;
  }
}
.page-header__imgtext {
  width: 282px;
  height: 214px;
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .page-header__imgtext {
    width: 461px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .page-header__imgtext {
    width: 459px;
    height: 350px;
  }
}
.main-nav {
  position: relative;
  background-color: white;
  line-height: 40px;
  width: 100%;
  max-width: 320px;
  height: 56px;
}
@media (min-width: 768px) {
  .main-nav {
    width: 90%;
    max-width: 723px;
    background-color: white;
    color: #000000;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 80%;
    max-width: 1098px;
    background-color: white;
    color: #000000;
  }
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  box-shadow: 0 8px 0 0 #81B3D2, 0 16px 0 0 #81B3D2;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.5);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.5), 0 16px 0 0 rgba(129, 179, 210, 0.5);
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.3), 0 16px 0 0 rgba(129, 179, 210, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 5px;
  right: 20px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: white;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: rgba(255, 255, 255, 0.5);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    order: 1;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    order: 1;
  }
}
.main-nav__list a {
  color: white;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    max-width: 723px;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 80%;
    max-width: 940px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 723px;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 954px;
  }
}
.site-list a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 40px;
  text-align: center;
  background-color: #81B3D2;
  text-decoration: none;
  border-top: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .site-list a {
    padding: 0;
    padding-top: 16px;
    padding-bottom: ;
    color: #000000;
    background: none;
    border: none;
  }
}
.main-nav--nojs .site-list__item {
  display: block;
}
@media (min-width: 768px) {
  .site-list__item {
    margin-right: 47px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item--active {
    color: #766357;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    margin-right: ;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .site-list__item a[href]:hover {
    color: #81B3D2;
    background-color: white;
  }
  .site-list__item a[href]:active {
    color: #000000;
    opacity: 0.3;
  }
}
.charact {
  width: 100%;
  max-width: 320px;
}
@media (min-width: 768px) {
  .charact {
    width: 90%;
    max-width: 736px;
  }
}
@media (min-width: 1200px) {
  .charact {
    width: 80%;
    max-width: 1122px;
  }
}
.charact__header {
  background-color: white;
  padding-top: 32px;
  padding-bottom: 11px;
  padding-right: 17px;
  padding-left: 18px;
  margin: 0 auto 11px;
  max-width: 280px;
}
@media (min-width: 768px) {
  .charact__header {
    width: 90%;
    max-width: 520px;
    padding-top: 43px;
    padding-bottom: 52px;
    padding-right: 124px;
    padding-left: 124px;
  }
}
@media (min-width: 1200px) {
  .charact__header {
    width: 90%;
    max-width: 483px;
    margin-bottom: 41px;
    padding-top: 55px;
    padding-bottom: 41px;
    padding-right: 358px;
    padding-left: 359px;
  }
}
.charact__slogan {
  margin: 0 0 31px;
  text-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .charact__slogan {
    display: flex;
    justify-content: center;
    font-size: 21px;
  }
  .charact__slogan br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .charact__slogan {
    display: flex;
    justify-content: center;
    font-size: 21px;
  }
  .charact__slogan br {
    display: none;
  }
}
.charact__intro {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .charact__intro {
    display: flex;
    justify-content: center;
  }
  .charact__intro br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .charact__intro {
    display: flex;
    justify-content: center;
  }
  .charact__intro br {
    display: none;
  }
}
.charact__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .charact__list {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 1200px) {
  .charact__list {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.charact__item {
  background-color: #81B3D2;
  color: #ffffff;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 39px;
  padding-left: 18px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .charact__item {
    padding-top: 40px;
    padding-bottom: 44px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .charact__item {
    padding-top: 47px;
    padding-bottom: 57px;
    padding-left: 53px;
    padding-right: 52px;
  }
}
.charact__item--right {
  padding-top: 39px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .charact__item--right {
    padding: 43px 36px 41px 36px;
  }
}
@media (min-width: 1200px) {
  .charact__item--right {
    padding: 51px 78px 53px 79px;
  }
}
.charact__item h3 {
  margin: 0;
}
@media (min-width: 768px) {
  .charact__item h3 {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .charact__item h3 {
    font-size: 21px;
  }
}
.charact__item--right {
  order: 2;
}
.charact__imgbridge {
  order: 1;
}
.charact__item p {
  font-weight: 400;
}
.charact__list--grey {
  background-color: #EEEEEE;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .charact__list--grey {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .charact__list--grey {
    display: flex;
    justify-content: space-between;
  }
}
.charact__item--grey h3 {
  margin: 0;
}
.charact__item--grey {
  margin-bottom: 24px;
  margin-top: 26px;
  max-width: 276px;
  text-align: center;
}
.charact__item--grey p {
  font-weight: 400;
  color: #333333;
}
@media (min-width: 768px) {
  .charact__item--grey {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .charact__item--grey {
    margin-top: 43px;
    margin-bottom: 62px;
  }
}
.infrastructure {
  width: 100%;
  max-width: 288px;
}
@media (min-width: 768px) {
  .infrastructure {
    width: 90%;
    max-width: 701px;
  }
}
@media (min-width: 1200px) {
  .infrastructure {
    width: 80%;
    max-width: 1064px;
  }
}
.infrastructure__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .infrastructure__list {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .infrastructure__list {
    display: flex;
    justify-content: space-between;
  }
}
.infrastructure__item {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .infrastructure__item {
    margin-top: 158px;
    margin-bottom: 60px;
    margin-left: 36px;
    margin-right: 31px;
    padding-right: 73px;
  }
}
@media (min-width: 1200px) {
  .infrastructure__item {
    margin-top: 159px;
    margin-bottom: 80px;
    margin-left: 58px;
    margin-right: 104px;
    padding-right: 73px;
  }
}
.infrastructure__description {
  font-weight: 400;
}
.hotel-search {
  width: 100%;
  max-width: 280px;
  padding: 34px 0 49px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
@media (min-width: 768px) {
  .hotel-search {
    width: 90%;
    max-width: 458px;
    padding: 58px 0;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    width: 80%;
    max-width: 458px;
    padding-bottom: 66px;
  }
}
@media (min-width: 768px) {
  .hotel-search__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .hotel-search__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.hotel-search__title {
  margin: 0 0 19px;
  font-size: 21px;
}
@media (min-width: 768px) {
  .hotel-search__title {
    margin-bottom: 32px;
    font-size: 30px;
  }
}
.hotel-search__description {
  color: #333333;
  font-weight: 400;
  line-height: 24px;
}
.hotel-search__link {
  background-color: #81B3D2;
  box-sizing: border-box;
  padding: 16px;
  color: white;
}
@media (min-width: 768px) {
  .hotel-search__link {
    margin-top: 37px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__link {
    margin-top: 42px;
  }
}
.map {
  width: 100%;
  max-width: 320px;
  margin-bottom: 39px;
  display: block;
  min-height: 350px;
}
@media (min-width: 768px) {
  .map {
    width: 90%;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .map {
    width: 80%;
    max-width: 1200px;
  }
}
.page-footer {
  width: 100%;
  max-width: 166px;
}
@media (min-width: 768px) {
  .page-footer {
    width: 90%;
    max-width: 667px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 80%;
    max-width: 980px;
  }
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.page-footer__hastag {
  font-size: 21px;
}
.social__list {
  list-style: none;
}
@media (min-width: 768px) {
  .social__list {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .social__list {
    display: flex;
    justify-content: space-between;
  }
}
.social__item {
  background-color: #81B3D2;
  width: 46px;
  height: 48px;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
  }
}
.copyright__text {
  font-weight: 400;
  font-size: 14px;
}
.review {
  width: 100%;
  max-width: 306px;
  margin-bottom: 16px;
  padding-top: 36px;
}
@media (min-width: 768px) {
  .review {
    width: 90%;
    max-width: 434px;
    padding: 64px 0 63px;
  }
}
@media (min-width: 1200px) {
  .review {
    width: 80%;
    max-width: 434px;
    padding: 114px 0 59px;
  }
}
.review__wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .review__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .review__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.review__description {
  font-weight: 400;
  padding-top: 38px;
  font-size: 14px;
}
.representation {
  width: 100%;
  max-width: 297px;
}
@media (min-width: 768px) {
  .representation {
    width: 90%;
    max-width: 283px;
  }
}
@media (min-width: 1200px) {
  .representation {
    width: 80%;
    max-width: 386px;
  }
}
@media (min-width: 768px) {
  .representation__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .representation__form {
    display: flex;
    justify-content: space-between;
  }
}
.representation__title {
  padding-bottom: 19px;
}
.representation__item label {
  font-size: 14px;
  font-weight: 400;
  padding-right: 10px;
}
.representation__item input {
  color: #000000;
  background-color: #F2F2F2;
  font-weight: 700;
  width: 230px;
  height: 58px;
}
.contactinfo {
  width: 100%;
  max-width: 280px;
  position: relative;
}
@media (min-width: 768px) {
  .contactinfo {
    width: 90%;
    max-width: 648px;
  }
}
@media (min-width: 1200px) {
  .contactinfo {
    width: 80%;
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .contactinfo__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .contactinfo__form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.contactinfo__title {
  padding-bottom: 17px;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .contactinfo__title {
    font-size: 21px;
  }
}
.contactinfo__item label {
  font-weight: 400;
  font-size: 14px;
}
.contactinfo__item input {
  background-color: #F2F2F2;
  width: 280px;
  height: 58px;
}
.contactinfo__item .placeholder {
  font-weight: 700px;
  font-size: 18px;
  color: #000000;
}
.impression {
  width: 100%;
  max-width: 289px;
}
@media (min-width: 768px) {
  .impression {
    width: 90%;
    max-width: 303px;
  }
}
@media (min-width: 1200px) {
  .impression {
    width: 80%;
    max-width: 272px;
  }
}
.impression__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .impression__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .impression__list {
    display: flex;
    justify-content: space-between;
  }
}
.impression__item {
  text-transform: lowercase;
}
.impession__item input {
  background-color: #F2F2F2;
  width: 48px;
  height: 48px;
}
.attractions {
  width: 100%;
  max-width: 268px;
}
@media (min-width: 768px) {
  .attractions {
    width: 90%;
    max-width: 473px;
  }
}
@media (min-width: 1200px) {
  .attractions {
    width: 80%;
    max-width: 960px;
  }
}
.attractions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .attractions__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .attractions__list {
    display: flex;
    justify-content: space-between;
  }
}
.attractions__item {
  text-transform: capitalize;
}
.attractions__item input {
  background-color: #F2F2F2;
}
.failure-popup {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 100%;
  max-width: 237px;
  height: 280px;
}
@media (min-width: 768px) {
  .failure-popup {
    width: 90%;
    max-width: 307px;
  }
}
@media (min-width: 1200px) {
  .failure-popup {
    width: 80%;
    max-width: 307px;
  }
}
@media (min-width: 768px) {
  .failure-popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .failure-popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.failure-popup__warning {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-top: 10px;
}
.failure-popup__button {
  background-color: #81B3D2;
  width: 180px;
  height: 58px;
  margin-top: 22px;
  margin-bottom: 35px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}
.posr-review {
  width: 100%;
  max-width: 279px;
}
@media (min-width: 768px) {
  .posr-review {
    width: 90%;
    max-width: 648px;
  }
}
@media (min-width: 1200px) {
  .posr-review {
    width: 80%;
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .contactinfo__form {
    display: flex;
    flex-direction: center;
  }
}
@media (min-width: 1200px) {
  .contactinfo__form {
    display: flex;
    flex-direction: center;
  }
}
.post-review__title {
  font-size: 18px;
  margin-bottom: 15px;
}
.post-review__description {
  background-color: #F2F2F2;
  box-sizing: border-box;
  width: 279px;
  height: 160px;
}
.post-review__button {
  background-color: #81B3D2;
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  width: 280px;
  height: 58px;
}
.post-review__fields {
  font-weight: 400;
  color: #333333;
}
@media (min-width: 768px) {
  .post-review__bf {
    display: flex;
    justify-content: space-between;
    max-width: 648px;
  }
}
@media (min-width: 1200px) {
  .post-review__bf {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
  }
}
.success-popup {
  width: 100%;
  max-width: 280px;
  min-height: 323px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
@media (min-width: 768px) {
  .success-popup {
    width: 90%;
    max-width: 458px;
  }
}
@media (min-width: 1200px) {
  .success-popup {
    width: 80%;
    max-width: 458px;
  }
}
@media (min-width: 768px) {
  .success-popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .success-popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.success-popup__gratitude {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  padding-top: 10px;
}
.success-popup__button {
  background-color: #81B3D2;
  color: #ffffff;
  font-weight: 700;
  width: 280px;
  height: 58px;
  font-size: 18px;
  margin-top: 49px;
  margin-bottom: 20px;
}
.photo {
  width: 100%;
  max-width: 299px;
}
@media (min-width: 768px) {
  .photo {
    width: 90%;
    max-width: 458px;
  }
}
@media (min-width: 1200px) {
  .photo {
    width: 80%;
    max-width: 458px;
  }
}
.photo__wrapper {
  margin: 0 auto 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .photo__wrapper {
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .photo__wrapper {
    margin-bottom: 67px;
  }
}
.photo__title {
  text-align: center;
  margin: 0 0 32px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .photo__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 65px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .photo__title {
    display: flex;
    justify-content: center;
    margin-top: 102px;
    margin-bottom: 67px;
  }
}
.photo__description {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .photo__description {
    display: flex;
    flex-direction: center;
  }
}
@media (min-width: 1200px) {
  .photo__description {
    display: flex;
    flex-direction: center;
  }
}
.photo-list {
  width: 100%;
  max-width: 280px;
}
@media (min-width: 768px) {
  .photo-list {
    width: 90%;
    max-width: 648px;
  }
}
@media (min-width: 1200px) {
  .photo-list {
    width: 80%;
    max-width: 1200px;
  }
}
.photo-list__list {
  display: grid;
  max-width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .photo-list__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    max-width: 648px;
  }
}
@media (min-width: 1200px) {
  .photo-list__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    max-width: 1200px;
  }
}
@media (min-width: 768px) {
  .photo-list__item {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    padding: 17px 30px 15px 22px;
  }
}
@media (min-width: 1200px) {
  .photo-list__item {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000, 0.3;
  }
}
.photo-list__title {
  font-size: 14px;
  line-height: 24px;
}
.photo-list__authorname {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: capitalize;
}
.photo-list__likes {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
  display: flex;
  column-gap: 14px;
}
@media (min-width: 768px) {
  .photo-list__vast {
    max-width: 648px;
    min-height: 400px;
  }
}
.photo-list__vegetation {
  margin-top: 22px;
}
.photo-list__road {
  margin-top: 23px;
}
.photo-list__bridge {
  margin-top: 23px;
}
.video {
  width: 100%;
  max-width: 320px;
}
@media (min-width: 768px) {
  .video {
    width: 90%;
    max-width: 648px;
  }
}
@media (min-width: 1200px) {
  .video {
    width: 80%;
    max-width: 800px;
  }
}
.video__title {
  text-align: center;
}
@media (min-width: 768px) {
  .video__title {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .video__title {
    display: flex;
    justify-content: center;
  }
}
.video__description {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .video__description {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .video__description {
    display: flex;
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */
