// Colors

@light-blue-color: #81B3D2;
@grey-color: #EEEEEE;
@light-black-color: #333333;
@light-grey-color: #F2F2F2;
@black-color: #000000;
@grey-2-color: #E6E6E6;
@brown-color: #766357;

// Viewports 

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;